@font-face{
    font-family: Poppins;
    src: url(../Font/Poppins.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root{
    --my-white: rgb(230, 230, 230);
    --my-blue: rgb(0, 102, 255);
    --my-black : rgb(70, 70, 70);
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--my-white);
}

#header{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: var(--my-blue);
}

.content{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .graph{
        width: fit-content;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        .square{
            position: relative;
            min-width: 200px;
            min-height: 200px;
            border: 2px solid var(--my-black);

            &::before{
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 100%;
                height: 100%;
                border: 1px solid var(--my-black);
                border-radius: 100%;
            }

            .dot{
                position: absolute;
                transform: translate(-50%,-50%);
                width: 2px;
                height: 2px;
                border-radius: 100%;
                background-color: blue;
            }
        }
    }

    .text{
        width: 60%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: bold;

            #show_pi{
                min-width: 120px;
                min-height: 30px;
                margin-left: 5px;
                text-align: center;
                background-color: white;
            }
        }

        button{
            margin-top: 20px;
            padding: 2px 6px;
            font-size: 15px;
            font-weight: bold;
            border-radius: 5px;
            outline: none;
            border: 1px solid var(--my-black);
            cursor: pointer;

            &:hover{
                transform: translate(1px,2px);
                transition: 0.3s ease-in-out;
                background-color: var(--my-black);
                color: var(--my-white);
                box-shadow: 2px 2px 6px var(--my-black);
            }

            &:active{
                transform: translate(0px,0px);
            }
        }

        .wrap_range{
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            #range{
                margin-left: 15px;
            }
        }
    }
}

@media screen and (max-width: 640px){
    .content{
        .text{
            width: 100%;
        }
    }
}